[submodule "hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = https://github.com/Kairos-T/hugo-theme-monochrome.git
[submodule "themes/hugo-theme-monochrome"]
	path = themes/hugo-theme-monochrome
	url = https://github.com/Kairos-T/hugo-theme-monochrome.git
